* {
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	margin: 0;
}
.center {
	text-align: center;
}
.previewimg {
	width: 202px;
	height: 234px;
}
/* RESUME SECTION */
.container-resume {
	position: absolute;
	width: 30%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: #1e213a;
}
.grade-value {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 192px;
	height: 169px;
	margin: 0 auto 0 auto;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	color: #e7e7eb;
}
.pad-right10 {
	padding-right: 10px;
}
.mar-top16 {
	margin-top: 16px;
}
.mar-bottom16 {
	margin-bottom: 16px;
}

.type-value {
	font-family: Raleway;
	font-style: normal;
	font-size: 30px;
	color: #a09fb1;
}
/* DATE SECTION */
.container-date {
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	display: flex;
	color: #e7e7eb;
}
.containerDateInfo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	color: #e7e7eb;
}
.footerdate {
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #e7e7eb;
}
.whitecolor {
	color: white;
}

.form{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	

}

.search {

	box-sizing: border-box;
	width: 10em;
	padding-left: .5em;
	border-radius: 12px ;
	background: #6E707A;
	color: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	resize: none;  /* <- For textareas*/
	outline: none;
	border: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 19px;
	color: #E7E7EB;
  }
.header-resume{
	display: grid;
    grid-template-areas: "head head";
    grid-template-columns: 1fr, 1fr;
    grid-column-gap: 90px;
    justify-content: space-around;
    align-items: center;
	margin-top: 2em;
		}
.location{
	display: inline-block;
	background: #6E707A;
	color: #fff;
	box-shadow: 3px 3px 6px 3px rgb(0 0 0 / 25%);
	text-decoration: none;
	border-radius: 50%;
	width: 2em;
	height: 2em;
}
.location:active{
	color: #ffd;
	box-shadow: none;

}

/* Weekly component */
.container-weekly{
	position: absolute;
    width: 70%;
    height: 100%;
    left: 459px;
    top: 0px;
    background-color: #100E1D;

	font-family: 'Raleway';
	font-style: normal;
	color: #E7E7EB;
}

.loading{
	display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
.highlight-card1{
	position: relative;
	width: 328px;
	height: 204px;
	border: 3px solid rgb(253, 228, 0);
	
	background: #1E213A;;
}
.highlight-card2{
	position: relative;
	width: 328px;
	height: 159px;
	border: 3px solid #fff;
	background: #1E213A;
	color: green;
}