* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.center {
	text-align: center;
}
.previewimg {
	width: 202px;
	height: 234px;
}
.container-resume {
	position: absolute;
	width: 459px;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: #1e213a;
}
.grade-value {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 192px;
	height: 169px;
	margin: 0 auto 0 auto;
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 70px;
	color: #e7e7eb;
}

.type-value {
	font-family: Raleway;
	font-style: normal;
	font-size: 30px;
	color: #a09fb1;
}
.container-date {
	font-family: Raleway;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	/* //METER ESTO EN GRID SERA MAS FACIL */
}
.footerdate {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
/* MATERIAL ICONS */
.material-icons {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}
